<app-default-login-layout
    title="Faça seu cadastro!"
    primaryButtonText="Inscreva-se agora"
    secondaryButtonText="Conecte-se agora"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryButton]="!signupForm.valid"
>
    <form [formGroup]="signupForm">

        <app-primary-input
            formControlName="name"
            inputName="name"
            type="text"
            label="Seu nome"
            placeholder="Lucas Araujo"        
        >
            <img src="/assets/svg/email-icon.svg" />
        </app-primary-input>

        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="example@email.com"        
        >
            <img src="/assets/svg/email-icon.svg" />
        </app-primary-input>

        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Senha"      
        >
            <img src="/assets/svg/password-icon.svg" />
        </app-primary-input>

        <app-primary-input
            formControlName="passwordConfirm"
            inputName="passwordConfirm"
            type="password"
            label="Confirme sua senha"      
        >
            <img src="/assets/svg/password-icon.svg" />
        </app-primary-input>

    </form>

</app-default-login-layout>
